@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 96vw;
  height: 96vh;
  position: relative;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 10px;
}
.text-space {
  padding-left: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.title-sub {
  line-height: 0.1;
  font-size: 15px;
}
.point {
  color: #002366;
}
.id-sector {
  display: flex;
  gap: 5px;
  font-size: 12px;
  position: fixed;
  top: 25px;
  right: 25px;
  color: black;
}

.danger {
  width: 30px;
  height: 30px;
}
.title-sub {
  text-align: center;
}

.sensor-name {
  text-align: center;
  color: #002366;
  font-size: 20px;
}

.top-sector {
  display: flex;
}

.left-sector {
  display: flex;
  width: 20%;
  margin-right: 10px;
  flex-direction: column;
}

.middle-sector {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.middle-sector-two {
  display: flex;
}

.middle-sector-two-bottom {
  display: flex;
}

.right-sector {
  display: flex;
  width: 20%;
  flex-direction: column;
}

/* 전체 카드 스타일 */
.info {
  display: flex;
  min-width: 150px; /* 최소 너비 */
  max-width: 500px; /* 최대 너비 */
  width: 100%; /* 기본 너비 */
  height: 128px;
  background-color: #87d1ff;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 60px;
  overflow: hidden; /* 내용 넘침 방지 */
}

/* 왼쪽 섹션 스타일 */
.info-left {
  flex: 1;
  /* 글자색 흰색 */
  padding-left: 10px;
  font-size: 70%;
}

/* 오른쪽 섹션 스타일 */
.info-right {
  flex: 1.2;
  padding: 20px;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center; /* 세로 가운데 정렬 */
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}
.sensor-name {
  font-size: 18px;
  font-weight: bold;
  color: #0056b3; /* 텍스트 색상 */
  margin-bottom: 10px; /* 아래 여백 */
}

/* 상세 정보 */
.details {
  display: flex;
  align-items: center;
  gap: 10px; /* 아이콘과 텍스트 사이 여백 */
  font-size: 13px;
}

/* 아이콘 크기 */
.setting,
.human {
  width: 24px;
  height: 24px;
}

.estimate-bf-total {
  min-width: 150px; /* 최소 너비 */
  max-width: 500px; /* 최대 너비 */
  width: 100%; /* 기본 너비 */
  width: 400px;
  height: 80%;
  /*border: 1px solid black;*/
  margin-right: 10px;
  background-color: white;
  margin-left: 10px;
}
.ebt-text {
  background-color: rgba(217, 217, 217, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-space1 {
  padding-left: 10px;
  padding-bottom: 10px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.select-data {
  width: 30%;
  height: 128px;
  /*border: 1px solid black;*/
  margin-right: 60px;
  background-color: white;
}

.now-danger {
  width: 407px;
  height: 128px;
  /*border: 1px solid black;*/
  margin-right: 60px;
  background-color: white;
  position: relative;
}
.nd-column {
  display: flex;
  flex-direction: column;
}
.nd-row {
  display: flex;
  flex-direction: row;
  position: relative;
}
.siren {
  margin-left: 25px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.repeat {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 130px;
  bottom: 100px;
}

.percentage {
  position: absolute;
  font-size: 40px;
  left: 220px;
  top: 110px;
  z-index: 3;
}
.wave1 {
  width: 250px;
  height: 135px;
  position: absolute;
  top: 53px;
  left: 30px;
  z-index: 2;
}
.wave2 {
  width: 250px;
  height: 135px;
  position: absolute;
  top: 53px;
  left: 10px;
  z-index: 1;
}

.phs {
  width: 400px;
  height: 225px;
  /*border: 1px solid black;*/
  margin-right: 68px;
  background-color: white;
}
.horizontal-part1 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 45px;
  margin-bottom: 15px;
}
.horizontal-part2 {
  display: flex;
  flex-direction: row;
  margin-left: 45px;
}
.box-in-box {
  width: 150px;
  height: 70px;
  border: 1px solid black;
  margin-right: 45px;
  font-size: 12px;
  border: 1px solid #dadada;
  border-radius: 5px;
}
.box-text {
  margin-left: 5px;
}
.box-pic {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: -10px;
}
.box-horizontal {
  display: flex;
  flex-direction: row;
}
.value {
  margin-left: 20px;
  margin-top: auto;
  font-size: 20px;
}

.TDS {
  width: 400px;
  height: 225px;
  /*border: 1px solid black;*/
  margin-top: 53px;
  margin-right: 68px;
  background-color: white;
}
.bf-graph {
  width: 865px;
  height: 314px;
  /*border: 1px solid black;*/
  background-color: white;
  margin-top: 60px;
  margin-bottom: 60px;
}
.salinity {
  width: 400px;
  height: 260px;
  /*border: 1px solid black;*/
  background-color: white;
  margin-right: 60px;
}
.conductivity {
  width: 400px;
  height: 260px;
  /*border: 1px solid black;*/
  background-color: white;
}
.DO {
  width: 400px;
  height: 260px;
  /*border: 1px solid black;*/
  background-color: white;
  margin-top: 60px;
  margin-right: 68px;
  margin-bottom: 70px;
}

.btn_left,
.btn_right {
  width: 50px; /* 버튼의 너비 */
  height: 50px; /* 버튼의 높이 */
  background: linear-gradient(to bottom, #e7e4e4, #f8f8fa);
  border: 1px solid black; /* 기본 테두리 제거 */
  border-radius: 25px; /* 동그랗게 만들기 */
  position: absolute; /* 절대 위치 지정 */
  top: 50%; /* 세로 중앙 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  cursor: pointer; /* 마우스 포인터 변경 */
  z-index: 100; /* 버튼이 다른 요소 위에 표시되도록 설정 */
}

.btn_left {
  left: 20px; /* 왼쪽 여백 */
}

.btn_right {
  right: 20px; /* 오른쪽 여백 */
}

/* 페이지가 들어오는 애니메이션 */
.page-enter {
  opacity: 0;
  transform: translateX(100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

/* 페이지가 나가는 애니메이션 */
.page-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

/* 차트 레이아웃 */
.chart-container-center {
  position: absolute;
  left: 22%;
  right: 22%;
  top: 15%;
  display: grid;
  grid-template-areas:
    'large-chart large-chart'
    'small-chart-1 small-chart-2';
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 40%;
  height: 82%;
}

/* 차트 공통 스타일 */
.chart {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart h3 {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.chart-box {
  position: inherit;
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}
